* {
    box-sizing: border-box;
    font-family: "Cairo", Arial, sans-serif;
}


body {

    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;

    color: white;

}


/* الخلفية الليلية المتحركة */

.background {

    position: fixed;

    width: 200%;
    height: 200%;

    top: -50%;
    left: -50%;

    background:

    radial-gradient(circle at 20% 30%,
    #4b0082,
    transparent 25%),

    radial-gradient(circle at 80% 20%,
    #005eff,
    transparent 30%),

    radial-gradient(circle at 50% 80%,
    #7200ff,
    transparent 30%),

    #050510;


    animation: moveBackground 18s infinite alternate;

    z-index: -1;

}


@keyframes moveBackground {


    0% {

        transform: translate(0,0)
        rotate(0deg);

    }


    50% {

        transform: translate(5%,3%)
        rotate(5deg);

    }


    100% {

        transform: translate(-5%,5%)
        rotate(-5deg);

    }

}



/* الصفحة */

.home {

    width: 90%;

    max-width: 420px;

    text-align: center;

}



/* بطاقة الحساب */

.profile {


    background: rgba(255,255,255,0.12);

    backdrop-filter: blur(15px);

    border-radius: 25px;

    padding: 25px;

    box-shadow:

    0 0 30px rgba(0,0,0,0.4);

    margin-bottom: 25px;


}


.avatar {

    width: 100px;

    height:100px;

    border-radius:50%;

    border:3px solid white;

}


.profile h2 {

    margin: 15px 0 5px;

}


.profile p {

    opacity:0.8;

}


.status {

    display:inline-block;

    margin-top:10px;

    padding:8px 20px;

    border-radius:30px;

    background:rgba(0,255,100,0.15);

}




.title {

    font-size:32px;

    margin-bottom:30px;

}



/* الأزرار */

.menu button {


    width:100%;

    padding:18px;

    margin:10px 0;


    border:none;

    border-radius:20px;


    color:white;

    font-size:18px;


    background:

    rgba(255,255,255,0.15);


    backdrop-filter:blur(10px);


    cursor:pointer;


    transition:0.3s;


    box-shadow:

    0 8px 25px rgba(0,0,0,0.3);


}



.menu button:hover {


    transform:translateY(-5px);

    background:

    rgba(255,255,255,0.25);


}


.menu button:active {

    transform:scale(0.95);

}
