/* أزرار اللغة وتسجيل الدخول والرجوع */

.lang-btn,
.google-btn {

    width: 100%;

    padding: 15px;

    margin: 10px 0;

    border-radius: 18px;

    border: none;

    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(10px);

    color: white;

    font-size: 18px;

    cursor: pointer;

    transition: 0.3s;

    box-shadow: 
    0 5px 20px rgba(0,0,0,0.25);

}


.lang-btn:hover,
.google-btn:hover {

    background: rgba(255,255,255,0.30);

    transform: scale(1.03);

}


/* زر جوجل */

.google-btn {

    background:
    linear-gradient(
    135deg,
    #4285f4,
    #34a853
    );

}


/* زر الرجوع */

a .lang-btn {

    background:
    rgba(255,255,255,0.12);

}
