<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Mecd Voice</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="background"></div>

<div class="home">

<div class="profile">

<img id="userPhoto"
src="https://i.imgur.com/6VBx3io.png"
class="avatar">

<h2 id="userName">
جارٍ التحميل...
</h2>

<p id="userId">
ID : ------
</p>

<div class="status">
🟢 Online
</div>

</div>

<h1 class="title">
🎙️ Mecd Voice
</h1>

<div class="menu">

    <button id="friendsBtn">
        👥 <span data-key="friends">الأصدقاء</span>
    </button>


    <button id="createRoomBtn">
        🎙️ <span data-key="createRoom">إنشاء غرفة</span>
    </button>


    <button id="joinRoomBtn">
        🚪 <span data-key="joinRoom">دخول إلى غرفة</span>
    </button>


    <button id="publicRoomsBtn">
        🌍 <span data-key="publicRooms">الغرف العامة</span>
    </button>


    <button id="settingsBtn">
        ⚙️ <span data-key="settings">الإعدادات</span>
    </button>

</div>

</div>

</div>

<script type="module"
src="{{ url_for('static', filename='app.js') }}">
</script>

</body>

</html>
