<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Mecd Voice</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="background"></div>

<div class="home">

<div class="profile">

<img id="userPhoto"
src="https://i.imgur.com/6VBx3io.png"
class="avatar">


<h2 id="userName">
جارٍ التحميل...
</h2>


<p id="userId">
ID : ------
</p>


<div class="status">
🟢 Online
</div>


</div>


<h1 class="title">
🎙️ Mecd Voice
</h1>


<div class="menu">


<button>
👥 <span id="friendsText">الأصدقاء</span>
</button>


<button>
🎙️ <span id="createRoomText">إنشاء غرفة</span>
</button>


<button>
🚪 <span id="joinRoomText">دخول إلى غرفة</span>
</button>


<button>
🌍 <span id="publicRoomsText">الغرف العامة</span>
</button>


<button>
⚙️ <span id="settingsText">الإعدادات</span>
</button>


</div>


</div>


<script src="{{ url_for('static', filename='language.js') }}"></script>


<script type="module"
src="{{ url_for('static', filename='app.js') }}">
</script>


<script type="module"
src="{{ url_for('static', filename='user.js') }}">
</script>

<script type="module" src="{{ url_for('static', filename='user.js') }}"></script>
</body>
</html>
