<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Mecd Voice</title>


<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">


</head>


<body>


<div class="container">


    <div class="logo">
        🎙️
    </div>


    <h1>
        Mecd Voice
    </h1>


    <h2 id="welcome">
        مرحبًا بك في موقع المطور مجد
    </h2>


    <p id="welcomeTr" style="display:none;">
        Geliştirici Mecd'in sitesine hoş geldiniz
    </p>



    <div class="language-buttons">


        <button id="arabicBtn"
        type="button">
            🇸🇦 العربية
        </button>



        <button id="turkishBtn"
        type="button">
            🇹🇷 Türkçe
        </button>


    </div>



</div>



<script>


const arabicBtn =
document.getElementById("arabicBtn");


const turkishBtn =
document.getElementById("turkishBtn");



arabicBtn.onclick = ()=>{

    localStorage.setItem(
        "language",
        "ar"
    );


    window.location.href =
    "/login/ar";

};



turkishBtn.onclick = ()=>{

    localStorage.setItem(
        "language",
        "tr"
    );


    window.location.href =
    "/login/tr";

};



</script>



</body>

</html>
