<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Mecd Voice</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="container">


<div class="logo">
🎙️
</div>


<h1>
Mecd Voice
</h1>


<p id="welcomeText">
مرحبًا بك في موقع المطور مجد
</p>



<button 
class="lang-btn"
onclick="setLanguage('ar')">

🇸🇦 العربية

</button>



<button 
class="lang-btn"
onclick="setLanguage('tr')">

🇹🇷 Türkçe

</button>



<a id="loginLink" href="/login/ar">

<button class="google-btn">

🔵 تسجيل الدخول

</button>

</a>



</div>



<script src="{{ url_for('static', filename='language.js') }}"></script>


<script>

function setLanguage(lang){

localStorage.setItem("language",lang);


if(lang==="tr"){

document.documentElement.lang="tr";
document.documentElement.dir="ltr";

document.getElementById("welcomeText").textContent=
"Geliştirici Mecd'in sitesine hoş geldiniz";


document.getElementById("loginLink").href="/login/tr";


}else{


document.documentElement.lang="ar";
document.documentElement.dir="rtl";


document.getElementById("welcomeText").textContent=
"مرحبًا بك في موقع المطور مجد";


document.getElementById("loginLink").href="/login/ar";


}

}


</script>


</body>

</html>
