<!DOCTYPE html>
<html lang="tr" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Giriş Yap - Mecd Voice</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

<div class="container">

    <div class="logo">
        🔐
    </div>

    <h1>Mecd Voice</h1>

    <h2>Giriş Yap</h2>

    <p>
        Geliştirici Mecd'in sitesine hoş geldiniz
    </p>


    <button class="lang-btn google-btn">
        Google ile giriş yap
    </button>


    <br><br>


    <a href="/">
        <button class="lang-btn">
            Geri
        </button>
    </a>


</div>

</body>

</html>
