<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Mecd Voice Room</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="room-page">


<!-- رأس الغرفة -->

<div class="room-header">


<div class="room-info">

<h2 id="roomName">
🎙️ اسم الغرفة
</h2>


<p id="roomId">
ID: ------
</p>


</div>



<div class="room-actions">

<button id="callBtn">
📞
</button>


<button id="videoBtn">
📹
</button>

</div>


</div>






<!-- الأعضاء -->

<div class="members-box">

<div id="membersList">

</div>

</div>







<!-- الرسائل -->

<div class="messages" id="messages">


</div>







<!-- الكتابة -->

<div class="message-bar">


<input
id="messageInput"
placeholder="اكتب رسالة...">



<button id="voiceBtn">
🎤
</button>



<button id="sendMessage">
➤
</button>



</div>






</div>



<script type="module" src="{{ url_for('static', filename='room.js') }}"></script>


</body>

</html>
