<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Mecd Voice Room</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="room">


<!-- الهيدر -->

<div class="top">


<div class="room-info">

<h1 id="roomName">
🎙️ الغرفة
</h1>


<p id="roomId">
ID: ------
</p>


</div>



<div class="top-buttons">


<button id="callBtn">
📞
</button>


<button id="videoBtn">
🎥
</button>


</div>


</div>





<!-- الرسائل -->

<div class="chat">


<div id="messages">

</div>


</div>






<!-- الكتابة -->

<div class="send">


<button id="cameraBtn">
📷
</button>


<input 
id="messageInput"
placeholder="اكتب رسالة...">



<button id="voiceBtn">
🎤
</button>



<button id="send">
➤
</button>



</div>







</div>





<script type="module" src="{{ url_for('static', filename='room.js') }}"></script>


</body>

</html>
